.taskItem {
  height: 15vw;
  width: 15vw;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.taskItem span {
  font-size: 1.5vw;
  display: flex;
  gap: 1vw;
}
.taskItem h4 {
  font-size: 1.3vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5vw;
  margin-top: 1vw;
}
.medium {
  border-top: 10px solid #1e90ff;
}

.low {
  border-top: 10px solid#00BFFF;
}
.high {
  border-top: 10px solid #4682b4;
}

.complete {
  filter: grayscale(1);
  cursor: not-allowed;
}

.taskItem label {
  font-size: 1vw;
}

.taskItem p {
  height: 6.2vw;
  padding: 0vw 0.5vw;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.status {
  display: flex;
  justify-content: space-between;
  padding: 1vw 1vw;
  margin-bottom: 2vw;
}
.status input {
  width: 1vw;
}
.status label {
  font-weight: 700;
}
